{{ 'about.css' | asset_url | stylesheet_tag }}
{{ 'about.js' | asset_url | script_tag }}

{% liquid
  assign heading = section.settings.heading_type
%}

{% style %}
  .about.{{ section.id }} .about__intro {
    background-color: {{ section.settings.background_color }};
  }

  {% if section.settings.background_image != blank %}
    .about.{{ section.id }} .about__intro::before {
      background-image: url({{ section.settings.background_image | image_url: width: 1000 }});
    }
  {% endif %}

  {% if section.settings.overlay_image != blank %}
    .about.{{ section.id }} .about__intro::after {
      background-image: url({{ section.settings.overlay_image | image_url: width: 1000 }});
    }
  {% endif %}
{% endstyle %}

<section id="about" class="about {{ section.id }}">
  <div class="about__grid">
    <!-- Intro blok -->
    <div class="about__intro">
      {% if section.settings.title != blank %}
        <{{ heading }} class="about__title">{{ section.settings.title }}</{{ heading }}>
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="about__description">{{ section.settings.text }}</div>
      {% endif %}

      {% if section.settings.signature != blank %}
        <div class="about__signature">
          {{ section.settings.signature | image_url: width: 1000 | image_tag: class: 'about__signature-image' }}
        </div>
      {% endif %}
    </div>

    <!-- Moments blok -->
    {% if section.blocks.size > 0 %}
      <div class="about__moments">
        {% for block in section.blocks %}
          <div class="moment">
            <div class="moment__media-wrapper">
              {{ block.settings.image | image_url: width: 1000 | image_tag: class: 'moment__media' }}
            </div>
            <div class="moment__meta">
              {% if block.settings.year != blank %}
                <span class="moment__year">{{ block.settings.year }}</span>
              {% endif %}
              {% if block.settings.title != blank or block.settings.description != blank %}
                <div class="moment__text">
                  {% if block.settings.title != blank %}
                    <h3 class="moment__title">{{ block.settings.title }}</h3>
                  {% endif %}
                  {% if block.settings.description != blank %}
                    <p class="moment__description">{{ block.settings.description }}</p>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "About",
  "class": "about-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Overlay Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ff0000"
    },
    {
      "type": "select",
      "id": "heading_type",
      "label": "Heading Type",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "About Me"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>That's the process of artist Peter Riezebos. Curiosity consumes him as he dives in worlds big and small to make sense of them - video games, wine, wrestling, everything everywhere from Amsterdam to Shanghai.</p>"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Blok",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Afbeelding"
        },
        {
          "type": "text",
          "id": "year",
          "label": "Year",
          "default": "2024"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Key Moment"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About"
    }
  ]
}
{% endschema %}
