{{ 'contact.css' | asset_url | stylesheet_tag }}

{% liquid
  assign heading = section.settings.heading_type
%}

<div class="container">
  <div class="row">
    <div class="col-12">
      <{{ heading }} class="title">{{ section.settings.title }}</{{ heading }}>
    </div>

    {% if section.blocks.size > 0 %}
      <div class="col-12 blocks">
        <div class="row">
          {% for block in section.blocks %}
            <div class="col-12 col-lg-4">
              <div class="block">
                {% if block.settings.title != blank %}
                  <span>{{ block.settings.title }}</span>
                {% endif %}

                {% if block.settings.email != blank %}
                  <a href="mailto:{{ block.settings.email }}" class="email">
                    {{ block.settings.email }}
                  </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if section.settings.text != blank %}
      <div class="col-12">
        <p class="text">{{ section.settings.text }}</p>
      </div>
    {% endif %}

    <div class="col-12">
      {% form 'customer', class: 'newsletter' %}
        <div class="newsletter-wrapper">
          <input
            type="email"
            name="contact[email]"
            placeholder="{{ 'customers.newsletter.email_placeholder' | t }}"
            class="newsletter-input"
            required
          >
          <button type="submit" class="button primary">{{ 'customers.newsletter.submit' | t }}</button>
        </div>
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'customers.newsletter.success' | t }}</p>
        {% endif %}
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Section",
  "class": "contact-section",
  "settings": [
    {
      "type": "select",
      "id": "heading_type",
      "label": "Heading Type",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Want to connect, collaborate, or just stay in the loop?"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Reach out — Peter might be in Hardewijk, Amsterdam, L.A., or somewhere in between."
    }
  ],
  "blocks": [
    {
      "type": "contact_block",
      "name": "Contact Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titel",
          "default": "Contact"
        },
        {
          "type": "text",
          "id": "email",
          "label": "E-mail",
          "default": "info@mail.com"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Section"
    }
  ]
}
{% endschema %}
